<!-- LANDING PAGE -->
<div class='landing-header'>
  <span class="landing-txt">W E L C O M E</span>
</div>

<div class="landing-wrap">
<div class="landing-card">

<div class="welcome-container">
<h1>You're not from around here, are you?</h1>

<h4 class="landing-welcome">
<a href="/authors/new">Create an account</a>
</h4>

<h1>Already a user?</h1>

<h4 class="landing-welcome">
  <a href="/login">Go here to login!</a>
</h4>
</div>

</div>
</div>
