<!-- LANDING PAGE -->
<div class='landing-header'>
  <span class="landing-txt">W E L C O M E</span>
</div>
<h1>You're not from around here, are you?</h1>
<a href="/authors/new">Create an account</a>

<h1>Already a user?</h1>

<h4>Go here</h4>
<h4>
  <a href="/login">Login!</a>
</h4>
