<!-- LANDING PAGE -->
<div class='landing-header'>
  <span class="landing-txt">W E L C O M E</span>
</div>
  <!-- <%= image_tag("opossum.jpg", :alt => "OPOSSUM", :class => 'opossum-img') %> -->
<div class="landing-wrap">

<div class="landing-card">
<div class="welcome-container">
<h1>First time here?  </h1>

<h4 class="landing-welcome">
<a  class='create-acct-link' href="/authors/new">CREATE AN ACCOUNT</a>
</h4>

<h1>Already a user?</h1>

<h4 class="landing-welcome">
  <a class='login-link' href="/login">CLICK HERE TO LOG IN</a>
</h4>
</div>

</div>
</div>
