<!-- LANDING PAGE -->
<div class='landing-header'>
  <span class="landing-txt">W E L C O M E</span>
</div>
<h1>You're not from around here, are you?</h1>
<%= link_to "Create an account", new_author_path %>

<h1>Already a user?</h1>
<h4> <%= link_to "Login", login_path %> </h4>

<%= link_to "Logout! Now!", logout_path, method: :delete if session[:user_id] %>
