<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @long_answer_question.answer %>
</p>

<%= link_to 'Edit', edit_long_answer_question_path(@long_answer_question) %> |
<%= link_to 'Back', long_answer_questions_path %>
