<h1 class='results-form-header'>Results</h1>
<div class='results-form-wrap'>
<% @questions.each do |q| %>
  <h2>
    <%= q.text %>
  </h2>
    <% q.responses.each do |response| %>
      <%= response %>
    <% end %>
<% end %>
<%= link_to "Download Results", survey_path(format: :csv) %>
</div>
