<h1>Results</h1>
  <h2>
    This is a long answer question?
  </h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur quam ac euismod pulvinar. Nullam posuere erat at quam suscipit, sed convallis nibh tempus. Suspendisse nec arcu ut velit ornare ultrices tempus eu neque. Phasellus scelerisque turpis et mi suscipit mollis. Phasellus lobortis a quam nec sollicitudin. Maecenas vitae massa nisl. Vivamus nisl nulla, pretium vel leo quis, molestie hendrerit leo. Vivamus cursus ante at pulvinar tempor. Ut efficitur ligula magna, vel sagittis mi feugiat non.
<!-- EACH ANSWER IS ON A DIFFERENT LINE, NEEDS STYLING -->
      Morbi sit amet quam bibendum, sollicitudin diam at, tempor mauris. Mauris ligula nisi, aliquet eu dignissim et, porta ac nulla. Curabitur dapibus dolor vitae diam lacinia molestie. Ut varius fringilla tortor consequat congue. Duis semper diam in justo cursus, vitae tincidunt nulla molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque non tempus dolor. Integer sollicitudin sagittis tellus, et dapibus lectus elementum finibus. Nulla nisi turpis, molestie quis porttitor vitae, posuere non velit. Donec convallis leo sit amet ornare semper.
  <h2>
    This is a short answer question?
  </h2>
      Short answer version 1
      Another short answer
  <h2>
    This is a Yes/No question?
  </h2>
      false
      false
  <h2>
    This is a Multiple choice question?
  </h2>
      Option 1
      Option 2
<a href="/surveys/35.csv">Download Results</a>





<!-- <h1>Results</h1>
<% @questions.each do |q| %>
  <h2>
    <%= q.text %>
  </h2>
    <% q.responses.each do |response| %>
      <%= response %>
    <% end %>
<% end %>
<%= link_to "Download Results", survey_path(format: :csv) %> -->
