<h1>Results</h1>
<% @questions.each do |q| %>
  <h2>
    <%= q.text %>
  </h2>
    <% q.responses.each do |response| %>
      <%= response %>
    <% end %>
<% end %>
<%= link_to "Download Results", survey_path(format: :csv) %>
