<h1 class='results-form-header'>Results</h1>
<div class='results-form-wrap'>
<% @questions.each_with_index do |q, i| %>
  <h2>
    <%= "#{i + 1}." %>
    <%= q.text %>
    <% if q.required%>
      <i class="fa fa-star"></i>
    <% end %>
  </h2>
  <% actual_responses = q.responses.reject {|r| r.empty? } %>
    <% actual_responses.each_with_index do |response, i| %>
      <%= "#{i+ 1}. #{response}" %> <br>
    <% end %>
<% end %>
<br>
<%= link_to "Download Results", survey_path(format: :csv) %>
</div>
