<h1 class='edit-survey-header'>E D I T&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;  Y O U R&nbsp;&nbsp; &nbsp;&nbsp;   S U R V E Y</h1>

<%= render 'form' %>

<%= link_to 'Show', @survey %> |
<%= link_to 'Back', surveys_path %>
