
<div class='survey-form-header'>
  <%= @survey.title %>:
  <span class='survey-form-header-text'><%= @survey.description %></span>
</div>

<!-- <p>
IM NOT SURE THAT THIS PAGE NEEDS THIS INFO
  <strong>Published:</strong>
  <%= @survey.published %>
</p> -->

<%= render 'whole_survey' %>
