/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "authors";

$primary-color: #92c6c1;
$bg-color: white;
$question-color: #d9e6ff;
$survey-bg: whitesmoke;

.app-header-wrap {
    color: $primary-color;
    font-family: 'lato', sans-serif;
    font-size: 3em;
    height: 130px;
    width:98.85%;
    margin: 0 0 0 .05%;
    border-bottom: 3px solid $primary-color;
    position: fixed;
    top: 0;
    background-color: $bg-color;
    .app-header-text{
      display: inline-block;
      padding: .75em 0 0 3.75em;
    }
    .fa-paw{
      color: darken($primary-color, 2%);
    }
  }
.app-footer{
  position: fixed;
  bottom: 0;
  color: $primary-color;
  background-color: darken($primary-color, 25%);
  display: block;
  width: 98.85%;
  margin: 0 0 0 .1%;
    .app-footer-paw{
      color:darken($primary-color, 15%);
      padding: .5% 0 .2% .8%;
      display: inline-block;
      font-size: 1.3em;
    }
    .app-footer-text{
      float: right;
      padding: .75% .5% .75% 0%;
      font-size: .5em;
      color:darken($primary-color, 15%);
    }
    .app-footer-link{
      text-decoration: none;
      color: lighten($primary-color, 2%);
      font-family: 'lato', sans-serif;
      padding-right: 25px;
    }
}
.hidden{
  display: none;
}
