// Place all the styles related to the sessions  >> index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #92c6c1;
$bg-color: white;
$question-color: #d9e6ff;
$survey-bg: whitesmoke;


.new-author-title {
    margin: 132px  0 0 .05%;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    padding: 1%  0 1% 37%;
    width: 62.95%;
    border-bottom: solid 3px $primary-color;
    background-color: darken($primary-color, 25%);
    color: $bg-color;
    font-size: .75em;
    overflow: scroll;
  }

.author-container {
    margin: 0 30% 0 20%;
}

    .landing-header{
      font-family: 'lato', sans-serif;
      font-size: 2em;
      text-align: center;
      font-weight: 300;
      background-color: darken($primary-color, 25%);
      margin: 132px 0 0 1px;
      padding: 1.5% 0 1.5% 0;
      color: $bg-color;
      border-bottom: 3px solid $primary-color;

    }
    .landing-wrap{
      background-color: lighten($question-color, 6%);
      width: 98.9%;
      height: 90%;
      display: block;
      position: fixed;
      opacity: .8;
      // // .opossum-img{
      // //   width: 100%;
      // //   height: 100%;
      // //   z-index: -1;
      // }
      .landing-card{
        color: darken($primary-color, 20%);
        font-family: 'lato', sans-serif;
        margin: 3% 0 0 32%;
        background-color: lighten($question-color, 5%);
        width: 35%;
        height: 60%;
        text-align: center;
        padding: 1% 0 0 0;
        border-radius: 3em;
        border: solid 2px lighten($primary-color, 15%);
        .create-acct-link{
          text-decoration: none;
          font-family: 'lato', sans-serif;
          color: $bg-color;
          background-color:darken($primary-color, 15%);
          padding:5% 8%;
          font-weight: 300;
          border: solid 2px $primary-color;
          font-size: 1.5em;
          margin: 2% 0 0 0;
          display: inline-block;
          border-radius: 1.5em;
          &:hover{
            background-color:darken($primary-color, 30%);
          }
        }
        .login-link{
          text-decoration: none;
          font-family: 'lato', sans-serif;
          color: $bg-color;
          background-color:darken($primary-color, 15%);
          padding:5% 8%;
          font-weight: 300;
          border: solid 2px $primary-color;
          font-size: 1.5em;
          margin: 2% 0 0 0;
          display: inline-block;
          border-radius: 1.5em;
          &:hover{
            background-color:darken($primary-color, 30%);
          }
        }

        .welcome-container{
          display: block;
		  .landing-welcome{
	          margin: 5% 0 10% 0;
		  }
        }
      }
    }
