// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #92c6c1;
$bg-color: white;

body{
  background-color: $bg-color;
}
