// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #92c6c1;
$bg-color: white;
$question-color: #d9e6ff;
$survey-bg: whitesmoke;

body{
  background-color: $bg-color;
  color: $primary-color;
  .new-survey-header{
    margin: 132px  0 0 .05%;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    padding: 1%  0 1% 37%;
    width: 62.95%;
    border-bottom: solid 3px $primary-color;
    background-color: darken($primary-color, 25%);
    color: $bg-color;
    font-size: .75em;
    overflow: scroll;
  }
  .new-survey-wrap{
    margin: 0 0 0 .05%;
    display: block;
    background-color: $survey-bg;
    position: absolute;
    width: 98.85%;
    height: 68.5%;
    .questions-header-bg{
      padding: 1% 0 2% 0;
      background-color: darken($survey-bg, 3%);
      border-bottom: solid thin darken($survey-bg, 10%);
    .title-auth-wrap{
      width: 50%;
    }

    .desc-wrap{
      width:49%;
      float: right;
      margin: -4.1% 0 0 0;
    }
    }
    .question-wrap{
      margin: 2% 0 0 0;

    .pick-question{
      border: solid 2px lighten($primary-color, 25%);
      background-color: lighten($question-color, 6%);
      font-family: 'lato', sans-serif;
      font-weight: 300;
      color: darken($question-color, 70%);
      margin: 0 0 0 1%;
      padding:.5% 0;
      width: 97.5%;
      border-radius: .4em;

        .q-field{
          padding: 0 0 0 .5%;
          width: 45%;
        }
        .q-txt{
          padding: 0 0 0 .5%;
        }
        .q-options{
          margin: 0 .75% 0 0;
          float: right;
          .q-required{
            padding: 0 0   0 0;
          }
        }
    }
  }
    .field{
      font-family: 'lato', sans-serif;
      font-weight: 500;
      color: darken($primary-color, 20%);
      font-size: 1.2em;
      display: inline-block;
      width: 47%;
      MARGIN: .5% 1%;
      .survey-field{
        display: inline-block;
        width: 100%;
        line-height: 1.5em;
      }
      .survey-area{
        display: inline-block;
        width: 100%;
        margin: .5% 0 1% 0;
      }
    }
    .actions{
      display: block;
      padding: .5% 47.25% .5% 46.5%;
      background-color: darken($primary-color, 25%);
      border-top: solid 2px $primary-color;
      // border-bottom: solid 2px $primary-color;
      position: absolute;;
      bottom: 0;
    }
  .survey-description{
    width: 97.5%;
  }
  .survey-publish{
    border-top: solid thin darken($survey-bg, 10%);
    margin: 2% 2% 0 0;
    padding: .5% 0 0 0;
    width: 100%;
      display: inline-block;
      text-align: center;
    background-color: darken($survey-bg, 3%);
    position: absolute;;
    bottom: 35px;

    // margin: -20% 000;
    // .pubcheck{
    //   display: inline-block;
    // }
  }
  }
}
