<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @boolean_question.answer %>
</p>

<%= link_to 'Edit', edit_boolean_question_path(@boolean_question) %> |
<%= link_to 'Back', boolean_questions_path %>
