<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @short_answer_question.answer %>
</p>

<%= link_to 'Edit', edit_short_answer_question_path(@short_answer_question) %> |
<%= link_to 'Back', short_answer_questions_path %>
