<!DOCTYPE html>
<html>
<head>
  <title>HW031016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="app-header">
        S U R V E Y&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-paw"></i>&nbsp; &nbsp; &nbsp;&nbsp;O P O S S U M
    </header>
<%= yield %>

<footer class="app-footer">
  <span class="app-footer-paw"><i class="fa fa-paw"></i></span>
  <span class="app-footer-text">&copy;MMXVI Team 42</span>
</footer>
</body>
</html>
