<!DOCTYPE html>
<html>
<head>
  <title>HW031016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="app-header">
        SURVEY <i class="fa fa-paw"></i> OPOSSUM
    </header>
<%= yield %>

</body>
</html>
